.about-container {
  /* border: 3px solid brown; */
  padding: 5rem 1.5rem 1rem;
  position: absolute;
  top: 0;
  z-index: -2;
  min-height: 100vh;
  width: 100%;
}

.about-container .profile-img {
  background: url("../images/HT2-cropped.jpg") 0 0 no-repeat;
  background-size: cover;
  /* border: 0.5px solid; */
  width: 100%;
  height: 65vh;

  /* aspect-ratio: 9 / 16; */

  /* object-fit: cover; */
  border-radius: 25px;
  box-shadow: inset 0 0 0 90vmax rgba(220, 210, 224, 0.7);
}

.about-container h1 {
  border-bottom: 1.5px solid;
  width: 100%;
  text-align: left;
  padding: 1.2rem 0 0.6rem;
  font-weight: 900;
}

.about-container p {
  padding: 1rem 0;
  font-weight: 500;
  text-align: justify;
}

/* .ability-cont {
  border: 1px solid green;
} */

.ability-cont h2 {
  /* border: 1px solid green; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  padding: 1rem 0;
  /* border-bottom: 1px solid; */
}

.details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  white-space: nowrap;
  gap: 0.5rem;
  padding-bottom: 1rem;
  /* border: 1px solid red; */
}

.details button {
  background-color: #ebebff;
  border-radius: 50vh;
  border: none;
  border: 1px solid #6070ff;
  color: #6070ff;
  font-weight: 550;
  padding: 4px 12px;
}

@media all and (min-width: 768px) {
  .about-container {
    padding: 5rem 6rem 1rem;
  }
}

@media all and (min-width: 992px) {
  .about-container .profile-img {
    /* background: url("../images/HT2-cropped.jpg") 0 0 no-repeat; */
    /* background-size: cover; */
    /* border: 0.5px solid; */
    width: 100%;
    height: 50vh;
  
    aspect-ratio: 1 / 1;
  
    /* object-fit: cover; */
    /* border-radius: 25px; */
    /* box-shadow: inset 0 0 0 90vmax rgba(220, 210, 224, 0.7); */
  }

  .about-container {
    display: flex;
    gap: 1rem;
  }

  .about-text {
    /* border: 1px solid green; */
    width: 40%;
  }

  .abilities-cont {
    /* border: 1px solid pink; */
    width: 60%;
  }

  .ability-cont {
    /* border: 1px solid brown; */
  }
}
