.contact-container {
  padding: 5rem 1.5rem 1.5rem;
  z-index: -2;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-details {
  width: 100%;
}

.contact-container h1 {
  border-bottom: 1.5px solid;
  width: 100%;
  text-align: left;
  padding-bottom: 0.6rem;
  font-weight: 900;
}

.email-container,
.socials-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 0;
}

.contact-heading,
.contact-body {
  width: 50%;
  text-align: left;
}

.contact-heading {
  padding-top: 0.3rem;
  font-weight: 900;
  font-size: 1.2rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  padding: 0.3rem 0;
  width: fit-content;
  position: relative;
}

.link::after {
  content: '';
  height: 1.5px;
  width: 0;
  background: #626b88;
  position: absolute;
  left: 0;
  bottom: -0.5px;
  transition: 0.5s;
}

.link:hover::after {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  gap: 12px;
  margin-top: 1rem;
}

input,
textarea {
  font-size: 15px;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  box-sizing: border-box;
  border: 0.5px solid #626b88;
  border-radius: 12px;
  background-color: #ecebf3;
  color: #626b88;
}

textarea {
  height: 116px;
  padding: 12px;
}

input:focus,
textarea:focus {
  outline: none;
}

button.submit {
  color: #626b88;
  font-size: 1rem;
  border: 0.5px solid #626b88;
  padding: 0.5rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  background: linear-gradient(to right, transparent 50%, #6070ff 50%);
  background-size: 200%;
  background-position: left;
  transition: background-position 0.7s;
}

button.submit:hover {
  color: #ebebff;
  background-position: right;
  border: 0.5px solid #6070ff;
}

@media all and (max-width: 500px) {
  .contact-heading {
    width: 35%;
    padding-right: 2rem;
  }

  .contact-body {
    flex: 1;
  }
}

@media all and (min-width: 992px) {
  .contact-container h1,
  .contact-details {
    max-width: 800px;
  }
}
