.contact-details {
  width: 100%;
}

.contact-container h1 {
  border-bottom: 1.5px solid;
  width: 100%;
  text-align: left;
  padding-bottom: 0.6rem;
  font-weight: 900;
}

.email-container,
.socials-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 0;
}

.contact-heading,
.contact-body {
  width: 50%;
  text-align: left;
}

.contact-heading {
  padding-top: 0.3rem;
  font-weight: 900;
  font-size: 1.2rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  padding: 0.3rem 0;
  width: fit-content;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 0.45rem;
}

@media all and (max-width: 500px) {
  .contact-heading {
    width: 35%;
    padding-right: 2rem;
  }

  .contact-body {
    flex: 1;
  }
}

@media all and (min-width: 992px) {
  .contact-container h1,
  .contact-details {
    max-width: 800px;
  }
}
