.hc {
  /* border: 4px solid red; */

  height: calc(100vh - 5rem);
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* background-color: #ecebf3; */
  padding: 0 1.5rem;
}

.hc h1 {
  /* border-bottom: 1.5px solid; */
  width: 100%;
  padding-bottom: 0.6rem;
  font-weight: 900;
}

.hc span {
  color: #ecebf3;
  text-shadow: -1px 1px 0 #626b88, 1px 1px 0 #626b88, 1px -1px 0 #626b88, -1px -1px 0 #626b88;
}

.hc .more-links-cont {
  /* border: 1px solid blue; */
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.hc .more-links {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

@media all and (min-width: 768px) {
  .hc {
    padding: 0 6rem;
  }
}
