.works-container {
  border: 2px solid blue;
  padding: 5rem 1.5rem 1.5rem;
  z-index: -1;
  position: absolute;
  top: 0;

  /* width: 100%; */
}

.works-container h1 {
  border-bottom: 1.5px solid;
  width: 100%;
  text-align: left;
  padding-bottom: 0.6rem;
  font-weight: 900;
  margin-bottom: 1.3rem;
}

.projects-container {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.project-container {
  border: 0.5px solid;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-container img {
  /* border: 0.5px solid red; */
  width: 100%;
  border-radius: 8px;
}

.project-container h2 {
  font-weight: 900;
  font-size: 1.2rem;
}
