.works-cont {
  padding: 5rem 1.5rem 1.5rem;
  z-index: -2;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.works-cont h1 {
  border-bottom: 1.5px solid;
  width: 100%;
  text-align: left;
  padding-bottom: 0.6rem;
  font-weight: 900;
  margin-bottom: 1.3rem;
}

.projects-cont {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.project-cont {
  padding: 16px;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-cont img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.project-cont .text-cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-cont h2,
.ability-cont h2 {
  font-weight: 900;
  font-size: 1.2rem;
}

.features {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 800;
  opacity: 0.6;
  list-style-position: inside;
}

.text-cont p {
  text-align: justify;
  text-justify: inter-word;
}

.text-cont .buttons-cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  white-space: nowrap;
  gap: 0.5rem;
}

.text-cont button {
  background-color: #ebebff;
  border-radius: 50vh;
  border: none;
  color: #6070ff;
  font-weight: 550;
  padding: 4px 12px;
}

.text-cont .links-cont {
  display: flex;
  gap: 0.5rem;
}

.links-cont .link {
  padding: 0;
}

@media all and (min-width: 768px) {
  .works-cont {
    padding: 5rem 6rem 1.5rem;
    z-index: -2;
  }
}

@media all and (min-width: 992px) {
  .project-cont {
    padding: 16px;
    border-radius: 16px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .project-cont img {
    width: 50%;
  }

  .projects-cont .project-cont:nth-child(even) {
    flex-direction: row-reverse;
  }
}
